# Core

/wp-admin/
/wp-content/index.php
/wp-content/languages
/wp-content/plugins/index.php
/wp-content/themes/index.php
/wp-includes/
/index.php
/license.txt
/readme.html
/wp-*.php
/xmlrpc.php

wp-content/mu-plugins/
wp-content/plugins-bk/
wp-content/plugins/*
wp-content/gallery/
wp-content/themes/
wp-content/woocommerce-multiple-customer-addresses/

test-api/
wp-content/uploads

!/wp-content/themes/backflow-theme/
!wp-content/themes/backflow-theme/

# Custom plugins

!wp-content/plugins/backflow-import
!wp-content/plugins/backflow-import/

# Log files
#*.log

# htaccess
/.htaccess
*.png
*.jpg
*.csv
csv-import/
*.sql
*.gz
wp-content/exit/
*.bmp
*.ico
wp-admintest.txt
wp-content/ai1wm-backups/
wp-content/webtoffee_import/
wp-content/webtoffee_iew_log/
wp-content/webtoffee_export/
wp-content/advanced-cache.php
wp-content/tablepress-combined.min.css
wp-content/tablepress-custom.css
wp-content/tablepress-custom.min.css
